{% if not env.pywb_proxy_magic or config.proxy.enable_banner | default(true) %}
{% autoescape false %}
<script>
window.banner_info = {
    is_gmt: true,

    liveMsg: decodeURIComponent("{{ _Q('Live on') }}"),

    calendarAlt: decodeURIComponent("{{ _Q('Calendar icon') }}"),
    calendarLabel: decodeURIComponent("{{ _Q('View All Captures') }}"),
    choiceLabel: decodeURIComponent("{{ _Q('Language:') }}"),
    loadingLabel: decodeURIComponent("{{ _Q('Loading...') }}"),
    logoAlt: decodeURIComponent("{{ _Q('Logo') }}"),

    locale: "{{ env.pywb_lang | default('en') }}",
    curr_locale: "{{ env.pywb_lang }}",
    locales: {{ locales }},
    locale_prefixes: {{ get_locale_prefixes() | tojson }},
    prefix: "{{ wb_prefix }}",
    staticPrefix: "{{ static_prefix }}",

    logoImg: "{{ ui.logo }}"
};
</script>
<script src="{{ static_prefix }}/loading-spinner/loading-spinner.js"></script>
<script src="{{ static_prefix }}/vue/vueui.js"></script>
<link rel="stylesheet" href='{{ static_prefix }}/vue_banner.css'/>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.library.yorku.ca/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '71']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

{% include 'bootstrap_jquery.html' ignore missing %}

{% endautoescape %}
{% endif %}
